<h2>Buy</h2>

<h4> Stock Details </h4>
<div> Company Name: <%= @quote.company_name %> </div>
<div> Current Price: $<%= @quote.latest_price %> </div>

<%= form_with(url: buy_trader_path(@trader), method: :post) do |form| %>
  <%= form.hidden_field :symbol, value: @quote.symbol %>
  <%= form.hidden_field :action, value: 'buy' %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Buy" %>
  </div>
<% end %>

<div><%= link_to "Main", traders_path %></div>
