<% if !@trader.approved? %>
  <h3 class="non-approved-message">Your account verification is still in progress. We appreciate your patience as we ensure the security and integrity of our platform.</h3>
<% end %>

<div class="trader-assets-container">
    <span>
      <h2>Total Assets</h2>
      <p>$ <%= format_decimal_with_commas(@trader.balance + @trader.stocks.sum(:current_value)) %></p>
    </span>

    <% if @trader.approved? %>
      <%= link_to "Deposit", balance_new_trader_path(@trader), class:"deposit-btn" %>
    <% end %>
</div>

<table class="stock-list-table">
  <span class="table-title">Top-Performing Stocks</span>
  <thead>
    <tr class="stock-list">
      <th>Stocks</th>
      <th>Market Cap</th>
      <th>Price</th>
      <th>Change</th>
      <th>% Change</th>
      <% if @trader.approved? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% if @quotes.nil? || @quotes.empty? %>
      <tr>
        <td colspan="8" style="text-align: center;">-- Data is currently unavailable. Please try again later. --</td>
      </tr>
      <% else %>
        <% @quotes.each do |quote| %>
          <tr class="table-data stock-list">

            <td>
              <%= link_to trader_path(quote.symbol), class:"table-stock-id" do %>
              <img class="company-logo" src="<%= get_logo(quote.symbol) %>" alt="Company Logo">
              <span class="stock-text-info">
                <div class="stock-symbol"><%= quote.symbol %></div>
                <div class="company-name"><%= quote.company_name %></div>
              </span>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                $<%= format_decimal_with_commas(quote.market_cap) %>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                $<%= format_decimal_with_commas(quote.latest_price) %>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                <%= quote.change %>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                <%= quote.change_percent %>
              <% end %>
            </td>

            <% if @trader.approved? %>
              <td>
                  <%= link_to "Buy", buy_new_trader_path(quote.symbol), class: "trader-buy-btn" %>
              </td>
            <% end %>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
