<h1>This is the trader page</h1>

<% if !@trader.approved? %>
  <h3>"Your account verification is still in progress. We appreciate your patience as we ensure the security and integrity of our platform."</h3>
<% end %>

<div>
  <div>
    <h3>Full Name</h3>
    <p><%= @trader.first_name %> <%= @trader.last_name %></p>
  </div>

  <div>
    <h3>Email Address</h3>
    <p><%= @trader.email %></p>
  </div>

  <div>
    <h3>Wallet Balance</h3>
    <% if @trader.approved? && @trader.balance <= 0 %>
      <%= link_to "Initialize Balance", balance_new_trader_path(@trader) %>
    <% else %>
      <p>$ <%= format_decimal_with_commas(@trader.balance) %></p>
    <% end %>
  </div>

  <div>
    <h3>Account Status</h3>
    <% if @trader.approved %>
      <p>Active</p>
    <% else %>
      <p>Pending</p>
    <% end %>
  </div>

  <div>
    <h3>Portfolio Value</h3>
    <p>$ <%=  format_decimal_with_commas(@trader.stocks.sum(:current_value)) %></p>
  </div>
</div>
</br>

<table class="stock-list-table">
  <span class="table-title">Top-Performering Stocks</span>
  <thead>
    <tr class="stock-list">
      <th>Stocks</th>
      <th>Market Cap</th>
      <th>Price</th>
      <th>Change</th>
      <th>% Change</th>
      <% if @trader.approved? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% cache('quotes_table', expires_in: 1.hour) do %>
      <% if @quotes.nil? || @quotes.empty? %>
      <tr>
        <td colspan="8" style="text-align: center;">-- Data is currently unavailable. Please try again later. --</td>
      </tr>
      <% else %>
        <% @quotes.each do |quote| %>
          <tr class="table-data stock-list">

            <td>
              <%= link_to trader_path(quote.symbol), class:"table-stock-id" do %>
              <img class="company-logo" src="<%= get_logo(quote.symbol) %>" alt="Company Logo">
              <span class="stock-text-info">
                <div class="stock-symbol"><%= quote.symbol %></div>
                <div class="company-name"><%= quote.company_name %></div>
              </span>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                $<%= format_decimal_with_commas(quote.market_cap) %>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                $<%= format_decimal_with_commas(quote.latest_price) %>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                <%= quote.change %>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                <%= quote.change_percent %>
              <% end %>
            </td>

            <% if @trader.approved? %>
              <td>
                  <%= link_to "Buy", buy_new_trader_path(quote.symbol), class: "trader-buy-btn" %>
              </td>
            <% end %>
          </tr>
      <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
