<h1>This is the trader page</h1>

<% if !@trader.approved? %>
  <h3>"Your account verification is still in progress. We appreciate your patience as we ensure the security and integrity of our platform."</h3>
<% end %>

<div><%= @trader.first_name %></div>
<div><%= @trader.last_name %></div>
<div><%= @trader.email %></div>
<div>Wallet Balance: $<%= @trader.balance %></div>

<% if @trader.approved? && @trader.balance <= 0 %>
  <%= link_to "Initialize Balance", balance_new_trader_path(@trader) %>
<% end %>
<br>

<table>
  <thead>
    <tr class="stock-list">
      <th>Stocks</th>
      <th>Market Cap</th>
      <th>Price</th>
      <th>Change</th>
      <th>% Change</th>
      <% if @trader.approved? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% cache('quotes_table', expires_in: 1.hour) do %>
      <% @quotes.each do |quote| %>
          <tr class="table-data stock-list">
            
            <td>
              <%= link_to trader_path(quote.symbol), class:"table-stock-id" do %>
              <img class="company-logo" src="<%= get_logo(quote.symbol) %>" alt="Company Logo">
              <span class="stock-text-info">
                <div class="stock-symbol"><%= quote.symbol %></div>
                <div class="company-name"><%= quote.company_name %></div>
              </span>
              <% end %>
            </td>
            
            <td>
              <%= link_to trader_path(quote.symbol) do %>
                $<%= format_decimal_with_commas(quote.market_cap) %>
              <% end %>
            </td>
            
            <td>
              <%= link_to trader_path(quote.symbol) do %>
                $<%= format_decimal_with_commas(quote.latest_price) %>
              <% end %>
            </td>

            <td>
              <%= link_to trader_path(quote.symbol) do %>
                <%= quote.change %>
              <% end %>
            </td>
            
            <td>
              <%= link_to trader_path(quote.symbol) do %>
                <%= quote.change_percent %>
              <% end %>
            </td>
            
            <% if @trader.approved? %>
              <td>  
                  <%= link_to "Buy", buy_new_trader_path(quote.symbol), class: "trader-buy-btn" %>
              </td>
            <% end %>
          </tr>
        
      <% end %>
    <% end %>
  </tbody>
</table>
