<h1>Portfolio</h1>

<div>
  <label> User Name: </label> <%= @trader.first_name %> <%= @trader.last_name %>
  <label> User Wallet: </label> $<%= @trader.balance %>
</div>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Company Name</th>
      <th>Buying Price</th>
      <th>Current Price</th>
      <th>Shares</th>
      <th>Price Per Share</th>
      <th>Current Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr class="table-data">
        <td><%= stock.symbol %></td>
        <td><%= stock.name %></td>
        <td>$<%= stock.price %></td>
        <td>$<%= stock.latest_price %></td>
        <td><%= stock.shares %></td>
        <td>$<%= stock.price_per_share %></td>
        <td>$<%= stock.current_value %></td>
        <td>
        <%= link_to "View", trader_path(stock.symbol) %>
        <% if @trader.approved? %>
          |
          <%= link_to "Buy", buy_new_trader_path(stock.symbol) %>
          |
          <%= link_to "Sell", sell_new_trader_path(stock.symbol) %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
