<h1 class="portfolio-header">Portfolio</h1>

<main class="account-details-wrapper">
    <i class='bx bx-user account-photo' ></i>

    <span class="divider"></span>

    <section class="account-text-info">
        <h2><%= @trader.first_name %> <%= @trader.last_name %></h2>

        <p><%= @trader.email %></p>

      <% if @trader.approved %>
        <span class="verification-status verified"><i class='bx bxs-badge-check'></i>Verified</span>
      <% else %>
        <span class="verification-status unverified"><i class='bx bxs-checkbox-minus' ></i>Non-Verified</span>
      <% end %>
    </section>

    <%= link_to(edit_trader_path(@trader), class: "edit-btn") do %>
        <i class='bx bx-edit-alt' ></i>
    <% end %>

</main>

<div class="trader-assets-container">
    <span>
      <h2>Balance Remaining</h2>
      <p>$<%= format_decimal_with_commas(@trader.balance) %></p>
    </span>

    <span>
      <h2>Portfolio Value</h2>
      <p>$<%= format_decimal_with_commas(@stocks.sum(:current_value)) %></p>
    </span>

    <% if @trader.approved? %>
      <%= link_to "Deposit", balance_new_trader_path(@trader), class:"deposit-btn" %>
    <% end %>
</div>

<table>
  <thead>
    <tr class="portfolio-data">
      <th>Symbol</th>
      <th>Company Name</th>
      <th>Buying Price</th>
      <th>Current Price</th>
      <th>Shares</th>
      <th>Price Per Share</th>
      <th>Current Value</th>
      <% if @trader.approved? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr class="table-data portfolio-data">

        <td>
           <%= link_to trader_path(stock.symbol) do %>
              <%= stock.symbol %>
           <% end %>
        </td>

        <td>
           <%= link_to trader_path(stock.symbol) do %>
              <%= stock.name %>
           <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.price) %>
          <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.latest_price) %>
          <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              <%= stock.shares %>
          <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.price_per_share) %>
          <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.current_value) %>
          <% end %>
        </td>

        <% if @trader.approved? %>
          <td class="action-column">
              <%= link_to "Buy", buy_new_trader_path(stock.symbol), class: "portfolio-buy-btn" %>
              <%= link_to "Sell", sell_new_trader_path(stock.symbol), class: "portfolio-sell-btn" %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
