<h1>Portfolio</h1>

<div>
  <label> User Name: </label> <%= @trader.first_name %> <%= @trader.last_name %>
  <label> User Wallet: </label> $<%= @trader.balance %>
  <label> Portfolio Value: </label> $<%= @stocks.sum(:current_value) %>
</div>

<table>
  <thead>
    <tr class="portfolio-data">
      <th>Symbol</th>
      <th>Company Name</th>
      <th>Buying Price</th>
      <th>Current Price</th>
      <th>Shares</th>
      <th>Price Per Share</th>
      <th>Current Value</th>
      <% if @trader.approved? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr class="table-data portfolio-data">

        <td>
           <%= link_to trader_path(stock.symbol) do %>
              <%= stock.symbol %>
           <% end %>
        </td>

        <td>
           <%= link_to trader_path(stock.symbol) do %>
              <%= stock.name %>
           <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.price) %>
          <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.latest_price) %>
          <% end %>
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              <%= stock.shares %>
          <% end %>      
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.price_per_share) %>
          <% end %> 
        </td>

        <td>
          <%= link_to trader_path(stock.symbol) do %>
              $<%= format_decimal_with_commas(stock.current_value) %>
          <% end %>
        </td>

        <% if @trader.approved? %>
          <td class="action-column">
              <%= link_to "Buy", buy_new_trader_path(stock.symbol), class: "portfolio-buy-btn" %>
              <%= link_to "Sell", sell_new_trader_path(stock.symbol), class: "portfolio-sell-btn" %> 
          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
