<h2>Sell</h2>
<%= form_with( url: sell_trader_path, method: :post) do |form| %>
  <%= form.hidden_field :symbol, value: @company.symbol %>
  <%= form.hidden_field :action, value: 'sell' %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Sell" %>
  </div>
<% end %>

<div><%= link_to "Main", traders_path %></div>
