<table border="1">
  <thead>
  <tr>
    <th colspan="9">Company Details</th>
  </tr>
  </thead>
  <thead>
    <tr>
      <th>Company Symbol</th>
      <th>Logo</th>
      <th>Company Name</th>
      <th>Industry</th>
      <th>Website</th>
      <th>CEO</th>
      <th>Sector</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @company.symbol %></td>
      <td><img src="<%= @logo.url %>" alt="Company Logo" style="max-width: 75px; max-height: 75px; border-radius: 50%;"></td>
      <td><%= @company.company_name %></td>
      <td><%= @company.industry %></td>
      <td>
        <a href="<%= @company.website %>">
        <%= @company.website %> </a>
      </td>
      <td><%= @company.ceo %></td>
      <td><%= @company.sector %></td>

      <td>
        <% if @trader.approved? %>
          <%= link_to "Buy", buy_new_trader_path(company_symbol: @company.symbol) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
