<main class="trader-show-wrapper">
  <section class="stock-data-wrapper">
    <div class="stock-logo-name">
        <img src="<%= @logo.url %>" alt="Company Logo">
        <span>
          <div>
            <%= @company.company_name %>
          </div>
          <div>
            <%= @company.symbol %>
          </div>
        </span>
    </div>
    <div class="stock-latest-price">
       $<%= format_decimal_with_commas(@quote.latest_price) %>
       <span class="stock-price-change">
         <%= @quote.change %>%
       </span>
    </div>

    <div class="stock-data">
      <label>Market Cap</label>
      <span>$<%= format_decimal_with_commas(@quote.market_cap) %></span>
    </div>

    <div class="stock-data">
      <label>Percent Change</label>
      <span><%= @quote.change_percent %></span>
    </div>

    <div class="stock-data">
      <label>Website</label>
      <a href="<%= @company.website %>">
        <%= @company.website %> 
      </a>
    </div>

    <div class="stock-data">
      <label>CEO</label>
      <span><%= @company.ceo %></span>
    </div>

    <div class="stock-data">
      <label>Industry</label>
      <span><%= @company.industry %></span>
    </div>

    <div class="stock-data">
      <label>Sector</label>
      <span><%= @company.sector %></span>
    </div>

    <% if @trader.approved? %>
      <div class="stock-data stock-btns">
          <%= link_to "Buy", buy_new_trader_path(@company.symbol), class: "buy btn" %>
          <%= link_to "Sell", sell_new_trader_path(@company.symbol), class: "sell btn" %>
      </div>
    <% end %>
  
  </section>
</main>