<h1>All Transactions</h1>

<div>
  <label> User Name: </label> <%= @trader.first_name %> <%= @trader.last_name %>
  <label> User Wallet: </label> $<%= @trader.balance %>
</div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr class="table-data transaction-history-data">
        <td><%= transaction.created_at.to_date %></td>
        <td><%= transaction.created_at.strftime('%H:%M:%S') %></td>
        <td><%= transaction.stock.symbol %></td>
        <td><%= transaction.stock.name %></td>
        <td><%= transaction.quantity %></td>
        <td>$<%= format_decimal_with_commas(transaction.price) %></td>
        <td class="action <%= transaction.action == 'buy' ? "buy" : "sell"%>">
            <%= transaction.action %>
        </td>
        <td>$<%= format_decimal_with_commas(transaction.total_amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
