<h1 class="transaction-page-header">Transactions History</h1>

<table>
  <thead>
    <tr class="transaction-history-data">
      <th>Date</th>
      <th>Time</th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Action</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr class="table-data transaction-history-data">
        <td><%= transaction.created_at.to_date %></td>
        <td><%= transaction.created_at.strftime('%H:%M:%S') %></td>
        <td><%= transaction.stock.symbol %></td>
        <td><%= transaction.stock.name %></td>
        <td> 
          <span class="action <%= transaction.action == 'buy' ? "buy" : "sell"%>">
            <%= transaction.action %>
          </span>
        </td>
        <td><%= transaction.quantity %></td>
        <td>$<%= format_decimal_with_commas(transaction.price) %></td>
        <td>$<%= format_decimal_with_commas(transaction.total_amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  <section class="trial-chart">
      <%= candlestick_chart({
    '2017-10-11' => [20, 34, 10, 38],
    '2017-10-12' => [40, 35, 30, 50],
    '2017-10-13' => [31, 38, 33, 44],
    '2017-10-14' => [38, 15, 5, 42],
    '2017-10-15' => [20, 34, 10, 38],
    '2017-10-16' => [40, 35, 30, 50],
    '2017-10-17' => [31, 38, 33, 44],
    '2017-10-18' => [38, 15, 5, 42],
    '2017-10-19' => [20, 34, 10, 38],
    '2017-10-20' => [40, 35, 30, 50],
    '2017-10-21' => [31, 38, 33, 44],
    '2017-10-22' => [38, 15, 5, 42],
    '2017-10-23' => [20, 34, 10, 38],
    '2017-10-24' => [40, 35, 30, 50],
    '2017-10-25' => [31, 38, 33, 44],
    '2017-10-26' => [38, 15, 5, 42]
  },
  class: 'chart-container box',
  theme: 'roma',
  options:{
    grid:{
      show: true,
    },
    xAxis: {
      name: "Date",
      nameLocation: "center",
      nameTextStyle: {
        fontWeight: "bolder",
        fontSize: 24
      }
      },
    yAxis: {
      name: "Price",
      nameLocation: "center",
      nameTextStyle: {
        fontWeight: "bolder",
        fontSize: 24
      },
      axisTick: {
        alignWithLabel: true
      }
    }
  })
%>
      </section>