<main class="form-tag-container">
  <h2>Initialize Balance for Trader</h2>

  <section class="stock-details trader-details">
    <div class="stock-data">
      <label>Trader</label> 
      <span><%= @trader.first_name %> <%= @trader.last_name %><span>
    </div>
  </section>

  <div class="form-tag-box">
    <%= form_with(url: balance_admin_trader_path(@trader), method: :post) do |form| %>
      <div class="input-box">
        <%= form.text_field :initial_balance, required: true %>
        <%= form.label :initial_balance, "Amount" %>
        <i class='bx bx-money'></i>
      </div>

      <%= form.submit "Set Balance", class: "form-btn deposit"  %>
    <% end %>
  </div>
</main>