<section class="pending-traders-wrapper">
  <header class="pending-header">
    <h2>Pending Accounts</h2>
    <span class="pending-length"><%= @pending_traders.length %></span>
    <i id="toggle-list" class='bx bx-expand-vertical'></i>
  </header>

  <ul class="pending-traders-list">
    <% @pending_traders.each do |trader| %>
      <li class="pending-trader">
        <span><%= trader.id %></span>
        <span><%= trader.first_name%> <%= trader.last_name%></span>
        <span><%= trader.email %></span>
        <%= button_to "Approve account", approve_admin_trader_path(trader), method: :post %>
      </li>
    <% end %>
  </ul>
</section>

<h2>All Approved Traders</h2>

<ul>
  <% @traders.each do |trader| %>
    <li style="display:flex">
      <div><%= trader.first_name%> <%= trader.last_name%> <%= trader.email %></div>
      <%= link_to "Show", admin_trader_path(trader) %>
      <%# <%= link_to "Edit", edit_admin_trader_path(trader) %>
      <%= button_to "Revoke", approve_admin_trader_path(trader), method: :post %>
    </li>
  <% end %>
</ul>

<h2>Initialize Balance</h2>
<% @traders.each do |trader| %>
  <%= form_with url: initialize_balance_admin_traders_path(trader), method: :post do |f| %>
    <%= f.hidden_field :user_id, value: trader.id %>
    <div>
      <%= trader.first_name%> <%= trader.last_name%> <%= trader.email %> Init. Bal.: <%= trader.balance %>
      <%= f.label :initial_balance, "Initial Balance:" %>
      <%= f.number_field :initial_balance, step: 'any' %>
      <%= f.submit "Initialize Balance" %>
    </div>
  <% end %>
<% end %>

<%# this method is only for creating initial admin %>
<%= button_to "Grant Admin", grant_admin_path, method: :patch, data: { confirm: "Are you sure you want to grant admin status to this user?" } %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
