<h1>This is the admin page</h1>

<%# make notice into an alert form %>
<p style="color:green"><%= notice %></p>


<%= link_to "Create a trader account", new_admin_trader_path %>

<h2>All Pending Traders</h2>

<%# <% if false #comment out code block until the end block %>
<ul>
  <% @pending_traders.each do |trader| %>
    <li style="display:flex">
      <div><%= trader.first_name%> <%= trader.last_name%> <%= trader.email %></div>
      <%= button_to "Approve", approve_admin_trader_path(trader), method: :post %>
    </li>
  <% end %>
</ul>
<%# <%end %>

<h2>All Approved Traders</h2>

<ul>
  <% @traders.each do |trader| %>
    <li style="display:flex">
      <div><%= trader.first_name%> <%= trader.last_name%> <%= trader.email %></div>
      <%= link_to "Show", admin_trader_path(trader) %>
      <%# <%= link_to "Edit", edit_admin_trader_path(trader) %>
      <%= button_to "Revoke", approve_admin_trader_path(trader), method: :post %>
    </li>
  <% end %>
</ul>

<h2>Initialize Balance</h2>
<% @traders.each do |trader| %>
  <%= form_with url: initialize_balance_admin_traders_path(trader), method: :post do |f| %>
    <%= f.hidden_field :user_id, value: trader.id %>
    <div>
      <%= trader.first_name%> <%= trader.last_name%> <%= trader.email %> Init. Bal.: <%= trader.balance %>
      <%= f.label :initial_balance, "Initial Balance:" %>
      <%= f.number_field :initial_balance, step: 'any' %>
      <%= f.submit "Initialize Balance" %>
    </div>
  <% end %>
<% end %>

<%# this method is only for creating initial admin %>
<%= button_to "Grant Admin", grant_admin_path, method: :patch, data: { confirm: "Are you sure you want to grant admin status to this user?" } %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
