<section class="pending-traders-wrapper">
  <header class="list-header">
    <h2>Pending Accounts</h2>
    <span><%= @pending_traders.length %></span>
    <i id="pending-toggle-list" class='bx bx-expand-vertical'></i>
  </header>

  <ul class="pending-traders-list">
    <% @pending_traders.each do |trader| %>
      <li class="trader">
        <span><%= trader.id %></span>
        <span><%= trader.first_name%> <%= trader.last_name%></span>
        <span><%= trader.email %></span>
        <%= button_to "Approve account", approve_admin_trader_path(trader), method: :post, class: "approve-btn" %>
      </li>
    <% end %>
  </ul>
</section>

<section class="approved-traders-wrapper">
  <header class="list-header">
      <h2>Trader Accounts</h2>
      <span><%= @traders.length %></span>
      <i id="approved-toggle-list" class='bx bx-expand-vertical'></i>
  </header>
  <div class="trader approved-list-header">
    <span>Account ID</span>
    <span>Name</span>
    <span>Email</span>
    <span>Balance</span>
    <span>Button</span>  
  </div>

  <ul class="approved-traders-list">
    <% @traders.each do |trader| %>
      <li class="trader">
        <%= link_to(admin_trader_path(trader), class: "approved-trader-link") do %>
          <span><%= trader.id %></span>
          <span><%= trader.first_name%> <%= trader.last_name%></span>
          <span><%= trader.email %></span>
          <span><%= trader.balance %></span>
        <% end %>
        <%= button_to "Revoke account", approve_admin_trader_path(trader), method: :post, class: "revoke-btn" %>
      </li>
    <% end %>
  </ul>
</section>

<h2>Initialize Balance</h2>
<% @traders.each do |trader| %>
  <%= form_with url: initialize_balance_admin_traders_path(trader), method: :post do |f| %>
    <%= f.hidden_field :user_id, value: trader.id %>
    <div>
      <%= trader.first_name%> <%= trader.last_name%> <%= trader.email %> Init. Bal.: <%= trader.balance %>
      <%= f.label :initial_balance, "Initial Balance:" %>
      <%= f.number_field :initial_balance, step: 'any' %>
      <%= f.submit "Initialize Balance" %>
    </div>
  <% end %>
<% end %>

<%# this method is only for creating initial admin %>
<%= button_to "Grant Admin", grant_admin_path, method: :patch, data: { confirm: "Are you sure you want to grant admin status to this user?" } %>

<%= link_to "All Transactions", transaction_admin_traders_path %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
