<div class="admin-form-container">
  <h2>Create an account</h2>

  <div class="admin-form-box">
    <%= form_for(@trader, url: admin_traders_path(@trader), method: :post) do |f| %>

      <div class="input-box">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", required: true %>
        <%= f.label :email %>
        <i class='bx bxs-envelope'></i>
      </div>

      <div class="input-box">
        <%= f.text_field :first_name, autofocus: true, required: true %>
        <%= f.label :first_name %>
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <%= f.text_field :last_name, autofocus: true, required: true %>
        <%= f.label :last_name %>
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <%= f.password_field :password, autocomplete: "new-password", required: true %>
        <%= f.label :password %>
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="input-box">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
        <%= f.label :password_confirmation %>
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="logreg-link">
        <%# <%= f.submit "Sign up", class: "form-btn" %>
        <%= button_to "Sign up", new_registration_path(@trader), data: {turbo_frame: "_top"}, class: "form-btn animation" %>
      </div>
    <% end %>
  </div>
</div>