<h1 class="page-header">Account Details</h1>

<main class="account-details-wrapper">
    <i class='bx bx-user account-photo' ></i>

    <span class="divider"></span>
    
    <section class="account-text-info">
        <h2><%= @trader.first_name %> <%= @trader.last_name %></h2>

        <p><%= @trader.email %></p>

        <p>Balance: <%= @trader.balance %> USD</p>
    </section>

    <%= link_to(edit_admin_trader_path(@trader), class: "edit-btn") do %>
        <i class='bx bx-edit-alt' ></i>
    <% end %>

</main>

<section class="transaction-list-wrapper">
    <header class="transaction-list-headers">
        <span>Stock Symbol</span>
        <span>Stock Name</span>
        <span>Action</span>
        <span>Quantity</span>
        <span>Price(USD)</span>
        <span>Total Amount(USD)</span>
        <span>Date</span>
        <span>Time</span>
    </header>

    <ul class="transactions-list">
        <% @transactions.each do |transaction| %>
            <li class="transaction">
                <span><%= transaction.stock.symbol %></span>
                <span><%= transaction.stock.name %></span>
                <span class="<%= transaction.action == 'buy' ? 'buy' : 'sell' %>">
                        <%= transaction.action %>
                </span>
                <span><%= transaction.quantity %></span>
                <span><%= transaction.price %></span>
                <span><%= transaction.total_amount %></span>
                <span><%= transaction.created_at.to_date %></span>
                <span><%= transaction.created_at.strftime('%H:%M:%S') %></span>
            </li>
        <% end %>
    </ul>
</section>