<h1 class="page-header">Account Details</h1>

<main class="account-details-wrapper">
    <i class='bx bx-user account-photo' ></i>

    <span class="divider"></span>
    
    <section class="account-text-info">
        <h2><%= @trader.first_name %> <%= @trader.last_name %></h2>

        <p><%= @trader.email %></p>

        <p>Balance: <%= @trader.balance %> USD</p>
    </section>

    <%= link_to(edit_admin_trader_path(@trader), class: "edit-btn") do %>
        <i class='bx bx-edit-alt' ></i>
    <% end %>

</main>