<h1>All Transactions</h1>

<table border="1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Account Name</th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.created_at.to_date %></td>
        <td><%= transaction.created_at.strftime('%H:%M:%S') %></td>
        <td><%= transaction.user.first_name %> <%= transaction.user.last_name %></td>
        <td><%= transaction.stock.symbol %></td>
        <td><%= transaction.stock.name %></td>
        <td><%= transaction.quantity %></td>
        <td>$<%= transaction.price %></td>
        <td><%= transaction.action %></td>
        <td>$<%= transaction.total_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
