<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StockPulse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'%>
    <%= javascript_include_tag 'custom_login_register_page', 'data-turbo-track': 'reload', defer: true %>

  </head>

  <% if flash[:notice] %>
    <div>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>

</html>
